.App {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.appContent{
  display: flex;
}

.deck-section{
  background-color: #303030;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

