.deckBlank{
    height: 300px;
    width: 500px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px dashed #F2F2F2;
    color: #F2F2F2;
    box-sizing: border-box;
    position: absolute;
    z-index: -10;
}