.deckDisplay{
    display: flex;
    flex-direction: column;
}

#deckNavigation{
    margin-left: auto;
}

#deckNavigation .btn{
    margin: 20px 0 0 20px;
}

#deckNavigation .btn:active, .deckDisplay .btn:active{
    box-shadow: none;
}

.deck{
    width: 500px;
    height: 300px;
    perspective: 1500px;
    position: relative;
}

.cardContent-edit .btn{
    background-color: #212121;
    color: #F2F2F2;
    margin: 0 10px 10px 0;
}

.cardContent-edit .btn:hover{
    background-color: #353535;
}